/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Playfair+Display:wght@600&family=Rubik&display=swap');


*{
  position:relative;
  margin: 0;
  padding:0;
  z-index: 5;
  font-size: 14px;
  font-family: 'Geologica', sans-serif;    
  box-sizing: border-box;
  line-height: 25px;
}



a{
  text-decoration: none;
}
ul li{
  list-style: none;
}

.container{
  max-width: calc(90% - 100px);
  margin: 0 auto;
}

h1{
  font-size: 50px;
}
